{% extends "base.html" %}
{% block content %}

      <div class="card-deck" style="background: transparent;" >
          <div class="card">
            <div class="card-body"><div class="coinmarketcap-currency-widget" data-currencyid="1518" data-base="USD"  data-secondary="BTC" style="width: 20%; height: 10%;margin: 10px;padding: 10px;"></div>
            </div>
            <div class="card-body">
            <div><h5 class="card-title">MAKER</h5>
              <!-- <p class="card-text">twitter</p> -->
              <a class="twitter-timeline" data-height="300" data-theme="dark" href="https://twitter.com/MakerDAO?ref_src=twsrc%5Etfw">Tweets by Maker</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p></div>
            </div>
          </div>
          <div class="card">
            <div class="card-body"><div class="coinmarketcap-currency-widget" data-currencyid="3602" data-base="USD"  data-secondary="BTC" style="width: 20%; height: 10%;margin: 10px;padding: 10px;"></div>
            </div>
            <div class="card-body">
              <div><h5 class="card-title">Bitcoin-sv</h5>
                <!-- <p class="card-text">twitter</p> -->
                <a class="twitter-timeline" data-height="300" data-theme="dark" href="https://twitter.com/BitcoinSVNode?ref_src=twsrc%5Etfw">Tweets by BitcoinSVNode</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p></div>
            </div>
          </div>
          <div class="card">
              <div class="card-body"><div class="coinmarketcap-currency-widget" data-currencyid="3635" data-base="USD"  data-secondary="BTC" style="width: 20%; height: 10%;margin: 10px;padding: 10px;"></div>
              </div>
              <div class="card-body">
                <div><h5 class="card-title">Crypto.com Chain</h5>
                  <!-- <p class="card-text">description</p> -->
                  <a class="twitter-timeline" data-height="300" data-theme="dark" href="https://twitter.com/cryptocom?ref_src=twsrc%5Etfw">Tweets by Crypto.com</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p></div>
              </div>
          </div>
      </div>
<!-- bootsstrap carddeck end -->
<div class="container" style="background: transparent;padding: 50px;">
    <h2 style="color: orange; font: size 200%;font-style:italic;">Choose Less correlated Currencies</h2>
   <div id=correlation>
     <h2 style="color: white;">Bitcoin correlation 2018</h2>
     <img src="{{ url_for('static', filename='png/bitcoinCorrelation.png') }}" alt="User Image" style="width: 80%; height: 50%;padding: 10px ;">
   </div>
    <br>
       <div id=whole_history>
       <h2 style="color: white;">1 year Bitcoin Chart(USD/BTC)</h2>
       </div>
       <div id="plot" style="width: 80%;"></div>
       <script src="{{ url_for('static', filename='js/comparison_plotly.js') }}"></script>
   <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
</div>
</div>
{% endblock content %}
