
{% extends "base.html" %}
{% block content %}

<br>
<br>

<div class="container" style="background: rgba(255,255,255,.85); border: 6px solid #144E75;">
    <div class="row">
        <div class="col-md-12">
            <br>
            <h3>Explore CryptoCorrelations</h3>
            <br>
            <p> Are you ready to systematically dig for correlations in short timeframes? Us too! Our app can help you explore correlations between ETH, XRP, BNB, LTC, EOS, and BCC. All values shown are exchange rates relative to bitcoin.</p>
            <p style="color: rgb(216, 30, 30);">Datetime must be in yyyy-mm-ddTHH:mm:00</p> 
            <!-- create select here -->
            <br>
           
            <form>
            
            <div class="row">
                <div class="col">
                <p style="color: rgb(0, 0, 0); text-align: center;">Select 1st Currency: <select id="selfirstCurrency" onchange="optionChanged(this.value)"></select></p>
            
                </div>
                <div class="col">
                <p style="color: rgb(0, 0, 0); text-align: center;">Select 2nd Currency: <select id="selsecondCurrency" onchange="optionChanged(this.value)"></select></p>
                </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="2019-06-26T23:14:04" id="firstDateTime">
                </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="2019-06-26T23:34:04" id="secondDateTime">
                </div>
                <div class="col">
                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form> 
            <br>

            <div class="row">
                <div class="col-md-12 justify-content-center">
                    <div id="lineplot">
                    </div>
                </div>
            </div>
            <br>
            <!-- <br> -->
            <div class="row">

                <div class="col-md-12 justify-content-center">
                        <table id="ufo-table" class="table table-striped">
                                <thead>
                                  <tr>
                                    <th class="table-head">Symbol 1</th>
                                    <th class="table-head">Symbol 2</th>
                                    <th class="table-head">Date/Time</th>
                                    <th class="table-head">N</th>
                                    <th class="table-head">Pearson's r</th>
                                  </tr>
                                </thead>
                                <tbody></tbody>
                              </table>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12 justify-content-center">
                            <div id="scatterplot">
                            </div>
            </div>
            </div>
            <br>
            <!-- <br> -->
            <div class="row">
                <div class="col-md-6 justify-content-center">
                    <div id="boxplot1">
                    </div>
                </div>
                <div class="col-md-6 justify-content-center">
                    <div id="boxplot2">
                    </div>
                </div>
            </div>
        </div>
    
        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id="plot"></div>
        </div>
    
    </div>
    
</div>
<div class="container" style="background: transparent;">
    <div class="row">
        <div class="col-md-12">  
            <a class="btn btn-secondary btn-sm" href="https://flask-crypto.herokuapp.com/livedata" target="_blank" role="button">Live API Data Source</a>
        </div>
    </div>
</div>

    <script src="{{ url_for('static', filename='js/correlatordo.js') }}"></script>

{% endblock content %}